---
title: L'evento
heading: 'Eventrip'
lead: Eventrip Prototype
entry: feria
order: 1
---

<article class="entry">
    {{> article-header}}
    {{> cover}}
    <div class="article__inner">
        <section class="article__main">
            {{> evento}}
        </section>
        <aside class="article__sidebar">
            {{> sidebar}}
        </aside>
        <section class="approfondimenti approfondimenti--musica">
            {{> musica}}
        </section>
        <section class="approfondimenti approfondimenti--letture">
            {{> letture}}
        </section>
        <section class="approfondimenti approfondimenti--film">
            {{> film}}
        </section>
    </div>
</article>

{{> footer }}