
.articleHeader {
   @extend .article__inner;

    margin:1rem auto 2rem;

    @media #{$large-up} {
        max-width:75rem;
        padding:0 2rem;
    }

    @media #{$xlarge-up} {
        margin:1rem 0 2rem;
    }

}

.articleHeader__inner {
    @include grid-column(12);


    @media #{$xlarge-up} {
        padding:0;
        @include grid-column(
            $columns: 11,
            $offset:1
            );
    }
}

.articleHeader__link {
    display: block;
    margin-top: .5rem;
    margin-bottom: 0;
}

.itinerariLink {
    float:left;
    color:$white;
    background:$green;
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;

    font-style: italic;
    font-weight: 400;
    font-size:$fontXsmall;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
        color:$white;
        background: darken($green, 20%);
    }
}

.date,
.where {
    font-family:$lato;
    text-transform:uppercase;
    font-weight:300;
    letter-spacing:1px;
    margin-bottom:0;
    @media #{$large-up} {
      display:inline-block;
      margin-right:1rem;
    }
}