.cover {
    position:relative;
    z-index:5;
    @include grid-column(12);

    @media #{$large-up} {
        height:500px;
    }
}

.cover__img {
    @media #{$large-up} {
        @include position(absolute, top 0 left 0 right 0);
    }
}
