.cover {
    position:relative;

    @media #{$large-up} {
        height:500px;
        overflow: hidden;
    }
}

.cover__img {
    @media #{$large-up} {
        @include position(absolute, bottom 0 left 0 right 0);
    }
}

.entry__header {
    @include grid-column(
        $columns:12
    );

     @media #{$large-up} {
        @include position(absolute, top 0 right 0 bottom 0 left 0);
        z-index:10;
        background-image: linear-gradient(160deg,  rgba($white, 0) 60%, rgba($black, 1) 100%);
    }

    p {
        margin-bottom:0;
        @media #{$large-up} {
            color:$white;
        }
        @media #{$xlarge-up} {
            font-size:rem-calc(23)
        }
    }
}

.entry__header__inner {
    text-align:center;
    margin-bottom:2rem;

    @media #{$large-up} {
        @include position(absolute,  right 2rem bottom 0);
        text-align:right;
    }
    @media #{$xlarge-up} {
        right:4rem;
    }
}

.entry__title {
    @extend .playfair-title;
    @media #{$large-up} {
            color:$white;
        }

    @media #{$xlarge-up} {
        font-size:rem-calc(72)
    }
}