
.articleHeader {
   @extend .article__inner;

    margin:1rem auto 2rem;

    @media #{$large-up} {
        max-width:75rem;
        padding:0 2rem;
    }

    @media #{$xlarge-up} {
        margin:1rem 0 2rem;
    }

}

.articleHeader__inner {
    @include grid-column(12);


    @media #{$xlarge-up} {
        padding:0;
        @include grid-column(
            $columns: 11,
            $offset:1
            );
    }
}

.link {
    margin-top:.5rem;
    letter-spacing:0;
    @media #{$large-up} {
        margin-top:1rem;
    }
}

.date,
.where {
    font-family:$lato;
    text-transform:uppercase;
    font-weight:300;
    letter-spacing:1px;
    margin-bottom:0;
    @media #{$large-up} {
      display:inline-block;
      margin-right:1rem;
    }
}
