
.articleHeader {

    p {
        font-family:$lato;
        text-transform:uppercase;
        font-weight:300;
        letter-spacing:1px;
        margin-bottom:0;
    }
}

.articleHeader__inner {
    margin:1rem 0 2rem;
}
