

.w-itinerario {
    margin:.5rem 0 1rem;
    @include grid-column(
        $columns:12,
        $collapse:true
        );

    border-bottom: 1px solid;
    padding-bottom:.5rem;
    &:last-child {
        border-bottom:medium none;
        padding-bottom:0
    }
}

.w-itinerario__title {
    @extend .lato-title;
    font-size:$h6-font-size;
}

.w-itinerario__action {
    display: inline-block;
    color:$ash;
    border-bottom:2px solid $red;
}