

.w-itinerario {
    margin:.5rem 0 1rem;
    @include grid-column(
        $columns:12,
        $collapse:true
        );

    p {
        margin-left:1rem;
    }
}

.w-itinerario__title {
    font-size:$h6-font-size;
    font-weight:700;
    font-family:$lato;
    &:before {
        content:"♦";
        margin-right:.2rem;
    }
}

.w-itinerario__action {
    font: {
        style:italic;
        weight:400;
    }
    letter-spacing:1px;
    text-transform:uppercase;
    text-decoration:underline;
}