
.libro {
    overflow: hidden;
    @include grid-column(
        $columns:12,
        $collapse:true
    );

    margin-bottom:3rem;

    @media #{$large-up} {
        @include grid-column(
            $columns:4,
            $collapse:false
        ); 
    }

    hr {
        border:medium none;
        border-bottom:4px double $purple;
        flex:1;
    }

   @media #{$large-up} {
        display:flex;
        flex-direction:column;
   }
}

.libro__img {
    border:1px solid $ash;
    margin:0 1rem 1rem;

    @media #{$medium-up} {
        width:50%;
        margin:0 0 1rem;
        float:left;
    }

    @media #{$large-up} {
        width:100%;
    }
}

.libro__content {
    @media #{$medium-up} {
        width:50%;
        float:right;
        padding:0 1rem;
    }

    @media #{$large-up} {
        width:100%;
        padding:0;
    }
}

.libro__title {
    @extend .lato-title;
    font-size:$h5-font-size;
}

.libro__author {
    font-family:$playfair;
    font-style:italic;
    font-size:$h5-font-size;
}

.libri {
   @media #{$large-up} {
    display:flex;
   } 
}