.pagenav {
    text-align:center;
}

.pagenav__list {
    margin:0;
    padding:0 1rem;
}

.pagenav__item {
    display:inline;
}

.pagenav__link {
    font-style:italic;
    padding:0 .5rem;
    font-size:rem-calc(18)
}