.pagenav {
    @include grid-column(
        $columns:12,
        $center:true
        );
    text-align:center;
    margin-bottom:2rem;

    @media #{$large-up} {
        margin-top:1rem;
    }
}

.pagenav__list {
    margin:0;
}

.pagenav__item {
    display:inline;
}

.pagenav__link {
    padding:0 .5rem;
    font-size:rem-calc(14);
    @extend .lato-title;
    @media #{$medium-up} {
        font-size:rem-calc(18);
    }
}