<header class="articleHeader">
    <div class="articleHeader__inner">
        <h1 class="articleHeader__title playfair-title">La feria de abril</h1>
        <p class="date">21-26 aprile 2015</p>
        <p class="where">Siviglia, Spagna</p>
        <p class="link">
            &mdash; 
            <a href="#" class="itinerariLink">
                organizza la tua vacanza
            </a>
            &mdash;
        </p>
    </div>     
</header>