<header class="articleHeader">
    <div class="articleHeader__inner">
        <h1 class="articleHeader__title playfair-title">
                La feria de abril
        </h1>
        <p class="date"><i class="icon-calendar"></i> 21-26 aprile 2015</p>
        <p class="where"><i class="icon-location"></i> Siviglia, Spagna</p>
        <p class="articleHeader__link">
            <a href="#" class="itinerariLink">
                organizza la tua vacanza
            </a>
        </p>

    </div>     
</header>