<section class="cover">
    <img src="{{assets}}/images/siviglia3.jpg" alt="Siviglia" class="cover__img">
    <header class="coverHeader">
        <div class="coverHeader__inner">
            <h1 class="entry__title">La feria de abril</h1>
            <p class="date">21-26 aprile 2015</p>
            <p class="where">Siviglia, Andalusia</p>
        </div>    
    </header>
</section>