<section class="content">
    <h2 class="content__title">En traje flamenco...alla conad</h2>
    <p class="subheader">ovvero alla feria de abril..vale tutto!</p>
        {{md  'src/content/evento.md'}}
    <h2 class="itinerari__title">Gli itinerari</h2>
		{{md  'src/content/itinerario.md'}}
        {{md  'src/content/itinerario2.md'}}



</section>