<section class="content">
    <h2 class="content__title">En traje flamenco...alla conad</h2>
    <p class="subheader">ovvero alla feria de abril..vale tutto!</p>
    <div class="content__inner">
         {{md  'src/content/evento.md'}}
    </div>
</section>