    <h2 class="approfondimenti__title">Film da non perdere</h2>
    
    <article class="film">
        <div class="film__inner">
            <img src="{{assets}}/images/elamorbrujo.jpg" alt="">
        </div>
        <div class="film__content">
            <div class="flex-video film__video">
              <iframe width="640" height="480" src="//www.youtube.com/embed/Sw38eR2QnEM?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>  
            </div>

            <h2 class="film__title">El amor brujo</h2>
            <p class="film__author">Carlos Saura</p>
            <p class="film__text">
            In un villaggio gitano due uomini legano con un patto il destino dei loro figli che dovranno sposarsi. Una volta cresciuti, nascono grossi problemi. Dopo Nozze di sangue e Carmen, il sodalizio Saura-Gades chiude la sua ideale trilogia di cinema-balletto con El amor brujo gonfiata abilmente con una buona dose di flamenco e di gitaneria.
            </p>
        </div>
    </article>

    <article class="film">
        <div class="film__inner">
            <img src="{{assets}}/images/volver.jpg" alt="">
        </div>
        <div class="film__content">
            <div class="flex-video film__video">
                <iframe width="640" height="480" src="//www.youtube.com/embed/ABSvppyQGdE?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2 class="film__title">Volver</h2>
            <p class="film__author">Pedro Almodovar</p>
            <p class="film__text">
                Raimunda, una giovane madre de la Mancha, trova rifugio dal suo passato a Madrid, dove vive col suo compagno Paco e la figlia adolescente, Paula. Durante un tentativo di abuso da parte del patrigno, Paula lo pugnala a morte. Scoperta la tragedia, Raimunda 'abbraccia' la figlia e la legittima difesa, coprendo l'omicidio e occultando il cadavere.
            </p>
        </div>
    </article>

    <article class="film">
        <div class="film__inner">
            <img src="{{assets}}/images/carmenstory.jpg" alt="">
        </div>
        <div class="film__content">
            <div class="flex-video film__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/NRogO9aaEyk?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <h2 class="film__title">Carmen story</h2>
            <p class="film__author">Carlos Saura</p>
            <p class="film__text">
                Direttore di gran fama trova una nuova ballerina per l'allestimento del suo nuovo balletto su Carmen. Se ne innamora. La ragazza prima lo ricambia, poi si stanca. Quando si vede tradito, la uccide. Film balletto più vicino al celebre racconto di Prosper Merimée che alla partitura di Georges Bizet. Non una trasposizione, ma un film d'autore secco, irresistibile, con 2 ballerini magici.
            </p>
        </div>
    </article>




