<header class="masthead">
    <h1 class="masthead__title">
        <a class="masthead__link" href="#">
            <img src="{{assets}}/images/logo/iena.svg" alt="EventTrip">
        </a>
    </h1>
</header>