<article class="itinerari">
    <h2 class="itinerari__title">
        Gli itinerari
    </h2>
    <section class="content">
        {{md  'src/content/itinerario.md'}}
    </section>

    <section class="content">
        {{md  'src/content/itinerario2.md'}}
    </section>    
</article>
