    <h2 class="approfondimenti__title">Libri per il viaggio</h2>
    
    <div class="libri">
        <article class="libro">
            <img class="libro__img" src="{{assets}}/images/carmen.jpg" alt="Carmen">
            <h2 class="libro__title">Carmen</h2>
            <p class="libro__author">Prosper Mérimée</p>
            <hr>
        </article>

        <article class="libro">
            <img class="libro__img" src="{{assets}}/images/uomodisiviglia.jpg" alt="">
            <h2 class="libro__title">L'uomo di Siviglia </h2>
            <p class="libro__author">Robert Wilson</p>
            <hr>
        </article>

       <article class="libro">
            <img class="libro__img" src="{{assets}}/images/lapelledeltamburo.jpg" alt="">
            <h2 class="libro__title">La pelle del tamburo</h2>
            <p class="libro__author">Arturo Pérez-Reverte</p>
            <hr>
        </article>
    </div>




