    <h2 class="box__title">Musica per il viaggio</h2>
    
    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/2oyhlad64-s?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Paco de Lucia</h2>
            <p class="musica__text">Francisco Sánchez Gómez, in arte Paco de Lucía, è stato un chitarrista e compositore spagnolo. È stato uno dei più grandi chitarristi di flamenco.</p>
        </div>
    </article>

    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/_TzhCp9HNz8?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Vincente Amigo</h2>
            <p class="musica__text">Vicente Amigo è un chitarrista spagnolo di flamenco. È uno dei più acclamati chitarristi di flamenco viventi. </p>
        </div>
    </article>

    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/pGEhU9lT7f0?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Estrella Morente</h2>
            <p class="musica__text">Estrella Morente è una cantante spagnola, figlia del noto cantante di flamenco Enrique Morente e della danzatrice Aurora Carbonell.</p>
        </div>
    </article>




