    <h2 class="content__title">Musica</h2>
    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/2oyhlad64-s?list=RDHCpobAkZ2MkVg&autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Paco de Lucia</h2>
            <p class="musica__text">Francisco Sánchez Gómez, in arte Paco de Lucía, è stato un chitarrista e compositore spagnolo. È stato uno dei più grandi chitarristi di flamenco.</p>
        </div>
    </article>

    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/_TzhCp9HNz8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Vincente Amigo</h2>
            <p class="musica__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit vel voluptates officia dolorum assumenda, temporibus quos consequuntur nam, optio reiciendis omnis ex rem quibusdam quis! Quo, facilis distinctio dolorum voluptatem!</p>
        </div>
    </article>

    <article class="musica">
        <div class="musica__inner">
            <div class="flex-video musica__video">
                <iframe width="640" height="360" src="//www.youtube.com/embed/pGEhU9lT7f0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="musica__content">
            <h2 class="musica__title">Estrella Morente</h2>
            <p class="musica__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit vel voluptates officia dolorum assumenda, temporibus quos consequuntur nam, optio reiciendis omnis ex rem quibusdam quis! Quo, facilis distinctio dolorum voluptatem!</p>
        </div>
    </article>




