<nav class="pagenav">
    <ul class="pagenav__list">
        {{#each pages }} 
          {{#is data.section  "feria" }} 
            <li {{#is ../../page.dest this.dest}} class="pagenav__item pagenav__item--active"{{/is}}>  <a  href ="{{relative ../../page.dest this.dest}}" > {{data.title }} </a >  </li > 
          {{/is }} 
        {{/each }}  
    </ul>
</nav>

