<article class="widget widget--itinerari clearfix">
    <h5 class="widget__title">Itinerari</h5>

    <article class="w-itinerario">
        <a href="#" class="w-itinerario__link">
            <h2 class="w-itinerario__title">
                El Alubrao
            </h2>
            <p class="w-itinerario__detail">3 giorni &ndash; <span class="w-itinerario__price">€399.00</span></p>
            <p class="w-itinerario__action">Scopri l'offerta</p>
        </a>
    </article>

    <article class="w-itinerario">
        <a href="#" class="w-itinerario__link">
            <h2 class="w-itinerario__title">
                Sulle tracce dei gitani
            </h2>
            <p class="w-itinerario__detail">5 giorni &ndash; <span class="w-itinerario__price">€599.00</span></p>
            <p class="w-itinerario__action">Scopri l'offerta</p>
        </a>
    </article>    

</article>


<article class="widget widget--table">
    <h5 class="widget__title">L'evento</h5>
    <table class="articleData">
        <tr>
            <td>Costo</td>
            <td>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Affollato</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Preparazione</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Life Changing</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
    </table>
</article>


<article class="widget citazione">
    <p>le donne vestite in pizzi, merletti e abiti fasciatissimi ricchi di balze, con rose, ventagli e pettini grandi come parabole; gli uomini con cappelli a falda larga e stivaloni attillati… </p>
</article>


<article class="widget">
    <h5 class="widget__title">Coordinate</h5>
    <img class="widget__img" src="{{assets}}/images/mappa.jpg" alt="mappa">
</article>


<article class="widget sharing">
    <h5 class="widget__title">Condividi</h5>
    <ul class="sharing__list">
        <li class="sharing__item">
            <a href="" class="sharing__link">
                <i class="icon-facebook"></i> Facebook
            </a>
        </li>
        <li class="sharing__item">
            <a href="" class="sharing__link">
                <i class="icon-twitter"></i> Twitter
            </a>
        </li>
        <li class="sharing__item">
            <a href="" class="sharing__link">
               <i class="icon-googleplus"></i> Google+ 
            </a>
        </li>
    </ul>
</article>