<article class="widget widget--table">
    <h5 class="widget__title">Dati</h5>
    <table class="articleData">
        <tr></tr>
    </table>

</article>

<article class="widget">
    <h5 class="widget__title">Dati</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>


<article class="widget">
    <h5 class="widget__title">Widget</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>



<article class="widget">
    <h5 class="widget__title">Widget</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>


<article class="widget">
    <h5 class="widget__title">Widget</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>