<article class="widget widget--itinerari">
    <h5 class="widget__title">Itinerari</h5>
    <ul class="itinerari__list">
        <li class="itinerari__item">
            <a href="#">
                El Alubrao
            </a>
        </li>
        <li class="itinerari__item">
            <a href="#">
                Sulle tracce dei gitani
            </a>
        </li>
    </ul>
</article>


<article class="widget widget--table">
    <h5 class="widget__title">L'evento</h5>
    <table class="articleData">
        <tr>
            <td>Costo</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Affollato</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Preparazione</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
        <tr>
            <td>Life Changing</td>
            <td>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="full">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
                <span class="none">&bull;</span>
            </td>
        </tr>
    </table>
</article>


<article class="widget citazione">
    <p>le donne vestite in pizzi, merletti e abiti fasciatissimi ricchi di balze, con rose, ventagli e pettini grandi come parabole; gli uomini con cappelli a falda larga e stivaloni attillati… </p>
</article>


<article class="widget">
    <h5 class="widget__title">mappa</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>


<article class="widget">
    <h5 class="widget__title">Autore</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit atque ipsa magnam provident commodi nam reprehenderit laboriosam error. Ad magni dolore eligendi, molestias deserunt, tempore ducimus vero dolor repellat.</p>
</article>


<article class="widget sharing">
    <h5 class="widget__title">Condividi</h5>
    <ul class="sharing__list">
        <li class="sharing__item">
            <a href="" class="sharing__link">
                facebook
            </a>
        </li>
        <li class="sharing__item">
            <a href="" class="sharing__link">
                twitter
            </a>
        </li>
        <li class="sharing__item">
            <a href="" class="sharing__link">
               google+ 
            </a>
        </li>
    </ul>
</article>