.content {
    @include grid-column(
            $columns:12,
            $center:true
        );
    max-width:$cage;
    margin:2rem auto;

    @media #{$large-up} {
        max-width:40rem;
    } 
}