<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.css">

  </head>
  <body>

    <main id="main" class="main st-container" role="main">
      {{> site-nav }}
      <div class="st-pusher">
      <div class="st-content" role="document">
      <div class="st-content-inner" >
        {{> body }}
      </div>
      </div>
      </div>
    </main>

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
