@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

// playfair 400, 400ita, 700, 700ita

.playfair-title {
    font-style:italic;
    font-weight:700;
    font-family: 'Playfair Display', serif;
}

// lato 300
$lato: 'Lato', sans-serif;
.lato {

    font-family: 'Lato', sans-serif;
}
.lato-title {
    font-family:$lato;
    font-weight:300;
    text-transform:uppercase;
}
// lora
$lora: 'lora', serif;
.lora {
    font-family: 'Lora', serif;
}