@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic);

// playfair 400, 400ita, 700, 700ita
$playfair: 'Playfair Display', serif;

.playfair-title {
    font-weight:900;
    font-family: 'Playfair Display', serif;
}

// lato 300
$lato: 'Lato', sans-serif;
.lato {
    font-family: 'Lato', sans-serif;
}
.lato-title {
    font-family:$lato;
    font-weight:300;
    text-transform:uppercase;
}



// icon fonts

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?4va1ag');
	src:url('../font/icomoon.eot?#iefix4va1ag') format('embedded-opentype'),
		url('../font/icomoon.woff?4va1ag') format('woff'),
		url('../font/icomoon.ttf?4va1ag') format('truetype'),
		url('../font/icomoon.svg?4va1ag#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// affollato
.icon-group:before {
	content: "\f0c0";
}

//preparazione
.icon-compass:before {
	content: "\f14e";
}

// costo 1
.icon-euro:before {
	content: "\f153";
}

// costo 2
.icon-dollar:before {
	content: "\f155";
}

// life changing
.icon-bomb:before {
	content: "\f1e2";
}

// dove
.icon-location:before {
	content: "\e600";
}

// quando
.icon-calendar:before {
	content: "\e601";
}

// google plus
.icon-googleplus:before {
	content: "\e602";
}

// facebook
.icon-facebook:before {
	content: "\e603";
}

//twitter
.icon-twitter:before {
	content: "\e604";
}
