.article__inner {
    @include grid-column(
            $columns:12,
            $collapse:true,
            $center:true
        );

    overflow: hidden;
    z-index:10;
    background:$white;
    position:relative;
    max-width:36rem;
    margin:0 auto;

    @media #{$large-up} {
        float:left;
        max-width:62rem;
        padding:0 2rem;
    }

    @media #{$xlarge-up} {
        max-width:75rem;
    }

}

.article__main,
.article__sidebar {
    margin-top:2rem;
    @include grid-column(
        $columns:12
        );
}

.article__main {
    max-width:36rem;
    @media #{$large-up} {
        @include grid-column(
        $columns:8
        );
    }

    @media #{$xlarge-up} {
        max-width:100%;
        @include grid-column(
            $columns:6,
            $offset:1
        );
    }
}

.article__sidebar {
    @media #{$large-up} {
        @include grid-column(
        $columns:4,
        $float:right
        );
    }

    @media #{$xlarge-up} {
        @include grid-column(
        $columns:3,
        $offset:1,
        $float:left
        );
    }

    p {
        font-size:$fontSmall;
        line-height:1.35;
    }
}