.approfondimenti {
    @include grid-column(
        $columns:12
    );

    @media #{$xlarge-up} {
        @include grid-column(
            $columns:10,
            $center:true
        );
    }
}

.approfondimenti__title {
    font-weight:900;
    font-family:$lato;
    margin-bottom:1.5rem;
}

